@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply flex items-center justify-center min-h-screen bg-gray-50;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  @apply rounded-lg flex items-center justify-center font-bold p-2 border-black bg-black text-white w-auto;
}

h3 {
  @apply rounded-lg p-2 bg-yellow-300 text-white text-lg flex items-center justify-center transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:cursor-pointer active:bg-indigo-50;
}

p {
  @apply mt-2 mb-2 font-semibold;
}

button {
  @apply relative inline-block py-3 px-8 text-sm font-bold uppercase tracking-widest border-2 border-current text-black bg-transparent text-center overflow-hidden;
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #e8eb35;
  transform: translateX(0.5rem) translateY(0.5rem);
  transition: transform 0.3s ease;
}

button:hover::before {
  transform: translateX(0) translateY(0);
  cursor: pointer;
}

button span {
  position: relative;
  z-index: 1;
}

button:active {
  color: rgba(0, 0, 0, 0.75);
}

li {
  @apply hover:cursor-pointer;
}
