@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply flex items-center justify-center min-h-screen bg-gray-50;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


.container {
  @apply max-w-lg mx-auto px-4 rounded-lg border-2 border-gray-200 p-4 text-sm shadow-md mt-4 mb-4 shadow-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-200;
}

.result {
    @apply rounded-lg p-2 bg-yellow-300 text-white text-lg flex items-center justify-center transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:cursor-pointer active:bg-indigo-50 max-w-lg mx-auto px-4 border-2 border-gray-200 shadow-md mt-4 mb-4 shadow-gray-400  focus:ring-gray-200;
}

.input-form {
  @apply w-full rounded-lg border-2 border-gray-200 p-4 text-sm shadow-md mt-4 mb-4 shadow-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-200;
  height: 48px; 
  box-sizing: border-box; 
}


h5 {
  @apply text-red-500 text-sm;
  min-height: 1rem; 
}


form {
  @apply space-y-4;
}



button {
  @apply 
  rounded-lg px-5 py-3 text-sm font-medium text-black bg-yellow-300 transition hover:scale-105 hover:shadow-lg focus:outline-none hover:cursor-pointer focus:ring max-w-lg mx-auto border-2 border-gray-200 p-4 shadow-md mt-4 mb-4 shadow-gray-400  focus:ring-gray-200
 
}

button:active {
  @apply bg-yellow-400;
}


h1 {
  @apply text-2xl font-bold text-gray-600 sm:text-3xl;
}
.containerQuizz {
@apply max-w-lg mx-auto px-4 rounded-lg border-2 border-gray-200 p-4 text-sm shadow-md mt-4 mb-4 shadow-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-200
}

.titleQuizz {
  @apply flex justify-center bg-black rounded-lg text-white max-w-lg mx-auto px-4 rounded-lg border-2 border-gray-200 p-4 text-sm shadow-md mt-4 mb-4 shadow-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-200
}

h6 {
  @apply text-sm text-gray-500;
}

h6 a {
  @apply underline hover:font-bold text-gray-600;
  color: inherit;
}

p {
  @apply mt-2 mb-2 text-gray-500 font-semibold;
}
